.intro {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Sora';
    font-weight: 600;
}

.role {
    font-size: 22px;
    margin-bottom: 0px;
    color: rgb(123, 122, 122);
    font-family: 'Sora';
    font-weight: 700;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(126, 126, 126);
    font-family: sans-serif, 'Sora';
    font-weight: 500;
}

.profile-picture {
    height: 350px; /* Original height */
    width: auto; /* Maintain aspect ratio */
    border: 3px solid white;
    animation: rotateImage 5s infinite;
}



@keyframes rotateImage {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.about {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .about-image {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  
  .about-content {
    /* width: 55%; */
    padding-left: 20px;
  }
  
  .main-heading {
    padding-top: 0px !important;
  }
  
  .sub-heading {
    text-align: left !important;
  }
  
  .sub-text {
    line-height: 25.6px; /* Converted from 1.6rem to px */
    text-align: justify;
  }
  
  /* Responsive Styling for tablets and smaller screens */
  @media screen and (max-width: 768px) {
    .about-layout {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .about-content {
      width: 100%;
      padding-left: 0;
    }
  
    /* Adjust the order for mobile and tablet */
    .main-heading {
      order: 1; /* "About Me" at the top */
      font-size: 32px; /* Converted from 2rem */
    }
  
    .about-image {
      order: 2; /* The image comes after "About Me" */
      width: 100%;
      margin-top: 20px;
    }
  
    .sub-heading {
      order: 3; /* "A dedicated Front-end Developer" after the image */
      font-size: 19.2px; /* Converted from 1.2rem */
      margin-top: 20px;
    }
  
    .sub-text {
      font-size: 16px; /* Converted from 1rem */
      line-height: 24px; /* Adjusted line height */
      text-align: justify;
    }
  }
  
  /* Responsive Styling for very small screens (375px and below) */
  @media screen and (max-width: 375px) {
    .about {
      padding: 20px 15px;
    }
  
    .about-content {
      margin-top: 15px;
    }
  
    .main-heading {
      font-size: 24px; /* Converted from 1.5rem */
    }
  
    .sub-heading {
      font-size: 17.6px; /* Converted from 1.1rem */
    }
  
    .sub-text {
      font-size: 14.4px; /* Converted from 0.9rem */
      line-height: 22.4px; /* Adjusted line height */
    }
  }